@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto+Condensed&display=swap');

$background-color: #f2f2f2;
$first-section-color: #cc171e;
$footer-color: #11161d;

$merriweather-font : 'Merriweather Sans', sans-serif;
$robotoCondensed-font : 'Roboto Condensed', sans-serif;






$fullWidthMinusSide: calc(100% - 2rem);
// $fullWidthMinusSide: 100%;