@import "./_variables.scss";
@import "./layout.scss";

section {
    @include d-flex-col;
    width: $fullWidthMinusSide;
    background: $first-section-color;
    margin-left: 2rem;
}

.top_section {
    position: relative;
    height: 400px;
    z-index: 1;

    &::before {
    content: "";
    position: absolute;
    top: -17vw;
    height: 17vw;
    width: 100%;
    background-image: url(../public/svg_curve_stroke.svg);
    background-repeat: no-repeat;
    background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -50px;
        border-top: 50px solid $first-section-color;
        border-right: calc(100vw - 2rem) solid transparent;
    }
}

.section_title {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
}

.second_section {
    position: relative;
    height: 800px;
    background: #f2f2f2;
    &::before {
        content: "";
        position: absolute;
        top: -30px;
        border-bottom: 30px solid #f2f2f2;
        border-right: calc(100vw - 2rem) solid transparent;
    }
}


// posts 

.posts {
    align-self: center;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

.news {
    align-self: center;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

.post_item {
    width: 100%;
    height: 80%;
    margin-bottom: 1rem;
}

.post_img_container {
    position: relative;
    width: 100%;
    height: 200px;
    background: rgb(86, 223, 241);

    &.compat-object-fit {
        background-size: cover;
        background-position: center center;
        img { // hide image if object fit is not supported - opacity to 0 for the link area
         opacity: 0;
        }
       }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.post_cross {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
    background: #cc171e;
    cursor: pointer;
    i {
        position: absolute;
        color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // &::after {
    //     position: absolute;
    //     content: "";
    //     background: #ffffff;
    //     width: 2px;
    //     height: 10px;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }

    // &::before {
    //     position: absolute;
    //     content: "";
    //     background: #ffffff;
    //     width: 10px;
    //     height: 2px;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
}

.post_title {
    color: white;
    height: 70px;
    overflow: hidden;

    p {
        padding: 10px; margin: 0;
    }
}




// news 

.news_item {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.news_title {
    color: black;
    text-align: center;
    height: 60px;

    h1 {
        font-size: 1rem;
    }
}

.news_description {
    color: white;
    height: 110px;
    overflow: hidden;
}

.news_content {
    color: #697b83;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
}

.news_link{
    
    @include d-flex-row;
    align-items: center;
    justify-content: space-between;

    span {
        position: relative;
        margin-left: 2rem;
        color: #cc171e;

        a {
            text-decoration: none;
            color: #cc171e;
        }
        &::before {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f02b";
        top: 0;
        left: -25px;
        width: 20px;
        height: 20px;
        
        }
    }

}

.news_arrow {
    position: relative;
    width: 50px;
    height: 50px;
    background: #cc171e;

    i {
        position: absolute;
        color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 576px) { 

    section {
        justify-content: center;
    }

    .section_title {
        width: 80%;
        text-align: unset;
        align-self: flex-end;
    }
    .posts {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 60%;
        // white-space: nowrap;
        overflow-x: scroll;
        // overflow-y: hidden;
    }

    .news {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 60%;
        // white-space: nowrap;
        overflow-x: scroll;
        // overflow-y: hidden;
    }

    .post_item {
        flex-shrink: 0;
        width: 200px;
        height: 100%;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .news_item {
        flex-shrink: 0;
        width: 250px;
        height: 50%;
        margin-bottom: 0;
        margin-right: 1rem;

    }

}


@media screen and (min-width: 992px) {  
    .post_item {
        width: 300px;
    }

    .top_section {
        &::after {
            content: "";
            border-right: calc(100vw - 3rem) solid transparent;
        }
    }

    .second_section {
        &::before {
            border-right: calc(100vw - 3rem) solid transparent;
        }
    }
}






// scroll bar

// after 
.scrollbar-external
,
.scrollbar-news 
{
    width: 80%;
    height: 80%;
    margin-top: 2rem;
}

.external-scroll_x .scroll-bar, .external-scroll_y .scroll-bar {
    background: #ffffff;
}

.external-scroll_x, .external-scroll_y {
    border: solid 1px #ffffff;
}

.news-scroll_x .scroll-bar,.news-scroll_y .scroll-bar {
    background: #940e0e;
}

.news-scroll_x, .news-scroll_y {
    border: solid 1px #b81313;
}

.external-scroll_x.scroll-scrollx_visible
,
.news-scroll_x.scroll-scrollx_visible  
{
    display: block;
    height: 10px;
    left: 20%;
    top: 10%;
    width: 200px;
}

.external-scroll_y.scroll-scrolly_visible
,
.news-scroll_y.scroll-scrolly_visible 
{
    display: block;
    height: 200px;
    left: 92%;
    top: 4%;
    width: 10px;
}

.external-scroll_y.scroll-scrolly_visible{
    left: 92%;
    top: 19%;
}

.news-scroll_y.scroll-scrolly_visible  
{
    left: 92%;
    top: 4%;
}