// main colors
$background_fallback: black;
$background_gradient: #d4f0fc;

// text
$section_color: #383838;
$section_color: #383838;

// head and footer background color
$header-background: url("../../public/background-noises/header_noise.jpg") bottom center repeat;
$second_background-color:  url("../../public/background-noises/main-second-noise.jpg") bottom center repeat;
$third_background-color:  url("../../public/background-noises/third_background-noise.jpg") bottom center repeat;
$footer_background-color:  url("../../public/background-noises/footer-noise.jpg") bottom center repeat;
$head_gamburg-tabs-color: #10617a;

$header_mobile-nav: linear-gradient(#973a3a, #bbda53);
$header_mobile-nav-hover: linear-gradient(rgb(58, 64, 151), rgb(83, 218, 205));
$header_mobile-nav-activated: linear-gradient(rgb(111, 233, 116), rgb(222, 79, 161));

// nav select
$select_background-color: linear-gradient(rgb(151, 58, 58), rgb(187, 218, 83));
$select_option-not-checked-background-color:#a6cccb;
$select_option-not-checked-color: #a17b5a;
$select_option-checked-background-color: #6aa8a6;
$select_option-checked-color: #bbda53;

// IE11 nav colors
$header_mobile-nav-ie: #972662;
$header_mobile-nav-hover-ie:rgb(96, 104, 214);
$header_mobile-nav-activated-ie: rgb(111, 233, 116);

$select-color: #bbda53;

// drop down menu
$background-dropDown-menu-color: rgba(63, 174, 190, 0.22);
$background-dropDown-border-color: linear-gradient(to bottom, #a7cdcc, orange) 1;