/* english import */
@import url('https://fonts.googleapis.com/css?family=Timmana');

/* russian import */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

/* greek import */
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Playfair+Display+SC');

:lang(gr) 	{
    font-family: 'Alegreya SC', serif;
    }

:lang(ru) 	{
    font-family: 'Playfair Display SC', serif;
}
    
:lang(en) 	{
       font-family: 'Timmana', sans-serif;
}

    $font-size-big: 2rem;

    $font-size-small: 1.5rem;
