$backgroundColor: linear-gradient(35deg, #DCE2E2, #CBF8FF);

$activeLink: #536E95;
$unactiveLink: #fff;
// navigation buttons

$aboutMe: #EACEFF;
$mySkills: #9491FF;
$myProjects: #9CF8E8;
$myContacts: #FF9B9B;
$langSetup: #FDFFC8;

// select circle

$borderCircle: #8A90DF;
$fillCircle: #97C4EA;


// skills colors of tech

$htmlColor: #DD4B25;
$cssColor: #146FB2;
$javaScriptColor: #E8A04D;
$angularColor: #C3002F;
$nodeJSColor: #3C823B;
$mongoDBColor: #402F20;