/* english import */
@import url('https://fonts.googleapis.com/css?family=Timmana');

/* russian import */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

/* greek import */
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Playfair+Display+SC');

:root {
    /* --main-font: 'Timmana', sans-serif; */
    
    --font-size-big: 2rem;

    --font-size-small: 1rem;
}

:lang(gr) 	{
    font-family: 'Alegreya SC', serif;
    }

:lang(ru) 	{
    font-family: 'Playfair Display SC', serif;
}
    
:lang(en) 	{
       font-family: 'Timmana', sans-serif;
}
        

@media screen and (min-width: 360px) { 

    :root {
        --font-size-big: 2rem;

        --font-size-small: 1.5rem;
    }

 }

 @media screen and (min-width: 1440px) { 

    :root {
        --font-size-big: 3rem;

        --font-size-small: 2rem;
    }

 }

 @media screen and (min-width: 2560px) { 

    :root {
        --font-size-big: 6rem;

        --font-size-small: 5rem;
    }

 }