body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 10px 0;
    background: $header-background;
    transition: transform .5s ease;
    transform: translateY(-1px);
    box-shadow: -2px -2px 11px 1px black;
}

nav.hide_nav_bar {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px)
}

.header_logo {
    width: 50px;
    margin-left: 1rem;
}

/* avatar of me */

.header_image {
    width: 40px;
    height: 40px;
}

.header_image img {
    width: 100%;
    border-radius: 100%;
    height: 40px;
}

.nav_list-big--screen {
    display: none;
    width: 100%;
}

/* gamburger in the header for mobile game */

#gamburger {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 16px;
    margin-right: 16px;
    margin-right: 16px;
    margin-right: 1rem;
}

#gamburger span:after {
    position: absolute;
    content: "";

    height: 4px;
    background: $head_gamburg-tabs-color;
}

.nav_bar--first:after {
    width: 40px;
    top: 25%;
}

.nav_bar--middle:after {
    width: 30px;
    right: 0;
    top: 50%;
}

.nav_bar--last:after {
    width: 20px;
    top: 75%;
    right: 0;
}


@media screen and (min-width: 760px) {

    .header_image {
        display: none;
    }

    .nav-list {
        display: inherit;
    }

    #gamburger {
        display: none;
    }


    nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

}

@media screen and (min-width: 1024px) {

    .header_logo {
        width: 70px;
        margin-left: 10rem;
    }

    .nav_list-big--screen {
        margin-right: 8rem;
    }
    

}