@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto+Condensed&display=swap");
.second_article {
  height: 1000px; }

.last_article {
  height: 1000px;
  background: #45b841; }
  .last_article::before {
    content: "";
    position: absolute;
    bottom: 0vw;
    left: 0;
    height: 41vw;
    width: 100%;
    background-image: url(../public/stroke_second.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    transform: rotateY(180deg) rotate(12deg); }

.pre_footer-article {
  background: #11161d; }

.blog_title {
  position: absolute;
  top: 10%;
  left: 50%;
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  transform: translateX(-50%); }
  .blog_title span {
    color: red; }

.blog-info {
  position: absolute;
  top: 40%;
  left: 50%;
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  font-size: .7rem;
  transform: translateX(-50%); }

.last_article_bar {
  position: absolute;
  background: #ffffff24; }

.horizontal_line {
  width: 97%;
  height: 1px;
  top: 252px;
  right: 0; }

.vertical_line {
  width: 1px;
  height: 100%;
  top: 0;
  left: 31px; }

@media screen and (min-width: 992px) {
  .blog_title {
    width: 200px;
    top: 30%;
    left: 10%;
    transform: translateX(0); }
  .blog-info {
    position: absolute;
    top: 35%;
    left: 32%;
    width: 600px;
    font-size: 1rem;
    transform: translateX(0);
    column-count: 3; }
    .blog-info p {
      margin-top: 0; }
  .horizontal_line {
    width: 98%; } }

@media screen and (min-width: 1200px) {
  .article_title {
    left: 20%;
    font-size: 3rem; }
  .article-info {
    font-size: 2rem;
    width: 500px; } }
