$mainColor: rgb(23, 25, 30);
$secondaryColor: rgb(255, 216, 0);

$overlayColor: rgba(244, 214, 40, 0.631);

$colorText: rgb(24, 26, 31);
$secondColorText: rgb(255, 219, 0);
$thirdColorText: rgb(255, 255, 255);