
:root {
    --animation-time: 2s; 
  }

  :lang(en) {
    font-family: 'Monoton', sans-serif;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: $background_fallback;
    background: $background_gradient;
}

section {
    color: white;
    -ms-grid-column: 2;
    grid-column: 2;
    font-family: 'Monoton';
  }

  p {
      color: white;
      
  }

  a {
    color: white;
    text-decoration: none;
  }

  span {
    color: white;
    font-size: 4rem;
  }

  span:nth-child(1){
    color: #5318af;
  /*   transition: text-shadow 1s ease; */
    text-shadow: 0 0 5px #8a79a5, 0 0 10px #170633, 0 0 15px #5318af, 0 0 20px #5318af, 0 0 30px #5318af, 0 0 40px #5318af, 0 0 55px #5318af, 0 0 75px #5318af;
  }
  
  span:nth-child(2) {
    color: #afa718;
    text-shadow: 0 0 5px #86822c, 0 0 10px #c1bd83, 0 0 15px #2e2c07, 0 0 20px #afa718, 0 0 30px #afa718, 0 0 40px #afa718, 0 0 55px #afa718, 0 0 75px #afa718;
  }
  
  span:nth-child(3) {
    color: #af5c18;
    text-shadow: 0 0 5px #754219, 0 0 10px #5c3916, 0 0 15px #e3a573, 0 0 20px #af5c18, 0 0 30px #af5c18, 0 0 40px #af5c18, 0 0 55px #af5c18, 0 0 75px #af5c18;
  }
  
  
  span.dark {
    -webkit-transition: text-shadow .5s ease;
    -o-transition: text-shadow .5s ease;
    transition: text-shadow .5s ease;
      text-shadow: 1px 1px 5px black;
  }
  
  @-webkit-keyframes flickerFirst {
    0% {
        text-shadow: 0 0 5px #8a79a5,
      0 0 10px #170633, 0 0 15px #5318af, 0 0 20px #5318af, 0 0     30px #5318af, 0 0 40px #5318af, 0 0 55px #5318af, 0 0         75px #5318af;
    }
    100% {
      text-shadow: 1px 1px 5px black;
    }
  }
  
  @keyframes flickerFirst {
    0% {
        text-shadow: 0 0 5px #8a79a5,0 0 10px #170633, 0 0 15px #5318af, 0 0 20px #5318af, 0 0     30px #5318af, 0 0 40px #5318af, 0 0 55px #5318af, 0 0         75px #5318af;
    }
    100% {
      text-shadow: 1px 1px 5px black;
    }
  }
  
  @-webkit-keyframes flickerSecond {
    0% {
    text-shadow: 0 0 5px #86822c, 0 0 10px #c1bd83, 0 0 15px #2e2c07, 0 0 20px #afa718, 0 0 30px #afa718, 0 0 40px #afa718, 0 0 55px #afa718, 0 0 75px #afa718;
    }
    100% {
      text-shadow: 1px 1px 5px black;
    }
  }
  
  @keyframes flickerSecond {
    0% {
    text-shadow: 0 0 5px #86822c, 0 0 10px #c1bd83, 0 0 15px #2e2c07, 0 0 20px #afa718, 0 0 30px #afa718, 0 0 40px #afa718, 0 0 55px #afa718, 0 0 75px #afa718;
    }
    100% {
      text-shadow: 1px 1px 5px black;
    }
  }
  
  @-webkit-keyframes flickerThird {
    0% {
    text-shadow: 0 0 5px #754219, 0 0 10px #5c3916, 0 0 15px #e3a573, 0 0 20px #af5c18, 0 0 30px #af5c18, 0 0 40px #af5c18, 0 0 55px #af5c18, 0 0 75px #af5c18;
    }
    100% {
      text-shadow: 1px 1px 5px black;
    }
  }
  
  @keyframes flickerThird {
    0% {
    text-shadow: 0 0 5px #754219, 0 0 10px #5c3916, 0 0 15px #e3a573, 0 0 20px #af5c18, 0 0 30px #af5c18, 0 0 40px #af5c18, 0 0 55px #af5c18, 0 0 75px #af5c18;
    }
    100% {
      text-shadow: 1px 1px 5px black;
    }
  }
   
  #first {
    -webkit-animation: flickerFirst ease alternate infinite;
            animation: flickerFirst  ease alternate infinite;
            -webkit-animation-duration: $animation-time;
            animation-duration: .5s;

  }
  
  #second { 

    -webkit-animation: flickerSecond  ease alternate infinite; 
            animation: flickerSecond  ease alternate infinite;
             -webkit-animation-duration: $animation-time;
            animation-duration: 1s;
  }
  
  #third {
    -webkit-animation: flickerThird  ease alternate infinite;
            animation: flickerThird  ease alternate infinite;
            -webkit-animation-duration: $animation-time;
            animation-duration: 2s;

  }