input, button, textarea {
    outline: none;
}

.contactMe--inner {
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    touch-action: pan-y;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
}


.contact_me_header {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 2000);
}



.input_data,
.area_data {
    margin-bottom: 1em;
    color: $activeLink;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 2000);
}

.input_data {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.area_data {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 3em;
}

.input_data *,
.area_data * {
    margin: .3em 0;
}

input,
textarea {
    width: calc(100% - 1rem);
    padding: .5rem;
    border: none;
    border-radius: 16px;
    background: #CEF4F9;
    font-family: 'Cinzel', serif;

}

textarea {
    border-radius: 16px 16px 0 0;
}

label {
    padding-left: .5rem;
}

.area_data--inner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact_me--button {
    position: absolute;
    width: 100%;
    bottom: -23px;
    left: 0;
    padding: .5rem;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-family: 'Cinzel', serif;
}

.sendMessage {
    background: $activeLink;
}

.messageSending {
    background: #513FCB;
    display: none;
}

.messageSended {
    background: #329C47;
    display: none;
}

.messageError {
    background: #D5276E;
    display: none;
}



.social_media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    transform: matrix(1, 0, 0, 1, 0, 2000);
}

.social_span {
    position: relative;
    border: 2px solid $activeLink;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 .5em;
}

.footer_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $activeLink;
}


.g-recaptcha {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 2000);
}

.contact_me_or {
    transform: matrix(1, 0, 0, 1, 0, 2000);
}

@include for-desktop-up-1200 {

    form {
        width: 50%;
    }

    .contact_me_header {
        font-size: 2rem;
    }

    .input_data {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .input_data *, .area_data * {
        font-size: 1rem;
        font-weight: bolder;
    }

    input, textarea {
        width: calc(50% - 1rem);
    }

    .area_data {
        width: 100%;
        justify-content: space-between;
    }

    .area_data--inner {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
}

.textarea_with_a_button {
    position: relative;
    width: 50%;
    margin: 0;
}

textarea {
    width: 97%;
    height: 147px;
    margin: 0;
}

.social_span {
    width: 45px;
    height: 45px;
}

.footer_icon {
    font-size: 1.5rem;

}

}


@include for-big-desktop-up-1800 {

    .contact_me_header  {
        font-size: 2rem;
    }

    form {
        width: 40%;
    }

    .input_data *, .area_data * {
        font-size: 2rem;
    }

    .contact_me_or {
        font-size: 2rem;
    }

    .social_span {
        width: 65px;
        height: 65px;
        border: 5px solid #536E95;
    }

    .footer_icon {
        font-size: 2rem;
    
    }

}