.about-me {
    color: $section_color;
    font-size: $font-size-small;
    width: 90%;
}

.about-me > h2 {
    text-align: center;
}

.about-me > p {
    margin: 0 1rem;
}

#signature {
    float: right;
    margin-right: 1rem;
}

/* margin: 0 1rem; */

@media screen and (min-width: 760px) { 

    .about-me {
        width: 90%;
    }
    
      }

      @media screen and (min-width: 1440px) { 
        .about-me {
            font-size: $font-size-small + .5rem;
        }
      }
      
      @media screen and (min-width: 2560px) { 
        .about-me {
            font-size: $font-size-small + 1.5rem;
        }
      }
