.contacts_us {
    position: fixed;
    width: 90vw;
    height: 75vh;
    padding: 10px;
    background: $contactUs_background-color;
    z-index: 3;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
    transform: translate(1000px, 1000px) skew(80deg, 10deg);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}


.slide-out-blurred-br {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    transform: translate(0, 80px) skew(0deg, 0deg);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts_us--form {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}

.contacts_us--form::-webkit-scrollbar {
    display: none;
}

#contact_me--header {
    font-family: 'Timmana', sans-serif;
    color: $contactUsText-color;
    font-size: $font-size-big - 0.5rem;
}

.contacts_us--form>*>p {
    font-family: 'Timmana', sans-serif;
    color: $contactUsText-color;
    font-size: $font-size-small - 0.5rem;
}


.contacts_us--form>form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background: $contactUs_form-background-color;
    flex: 0 0 auto;
}

.contacts_us--form>form>input {
    width: 80%;
    height: 40px;
    margin: 0 0 16px 0;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    font-size: $font-size-small;
    font-family: 'Timmana', sans-serif;
    outline: none;
}

label {
    width: 80%;
    font-size: $font-size-small;
    font-family: 'Timmana', sans-serif;
    color: $contactUsText-color;
}

.contacts_us--form>form>textarea {
    width: 80%;
    margin: 16px 0;
    margin: 16px 0;
    margin: 1rem 0;
    font-size: $font-size-small;
    font-family: 'Timmana', sans-serif;
    outline: none;
}

input:invalid.touched {
    -webkit-transition: -webkit-box-shadow 1s ease;
    -webkit-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;
    box-shadow: 1px 1px 7px 5px $invalid_input-border-color;
}

input:valid {
    -webkit-transition: -webkit-box-shadow .5s ease;
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    box-shadow: 1px 1px 7px 5px $valid_input-border-color;
}

textarea:invalid.touched {
    -webkit-transition: -webkit-box-shadow .5s ease;
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    box-shadow: 1px 1px 7px 5px $invalid_input-border-color;
}

textarea:valid {
    -webkit-transition: -webkit-box-shadow .5s ease;
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    box-shadow: 1px 1px 7px 5px $valid_input-border-color;
}

textarea:required:not(:valid) {
    box-shadow: none;
}

input:required:not(.touched) {
    box-shadow: none;
}

.g-recaptcha {
    -webkit-transform: scale(.7);
    transform: scale(.7);
}

button {
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: inset 0px -1px 2px 0px $button_shadow-color;
    background-color: $button_background_fallback-color;
    background: $button_background-color;
    border-radius: 6px;
    border: 1px solid $button-border-color;
    display: inline-block;
    cursor: pointer;
    color: $button_text-color;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px $text_shadow-color;
    outline: none;
}

button.afterSubmitButton {
    display: none;
    padding: 16px 24px;
}

button:hover {
    background-color: adjust-hue($button_background_fallback-color, 60%);
    background: $button_background-hover-color;
}

button:active {
    position: relative;
    top: 1px;
}

#error {
    display: none;
    color: $error-color;
}

.sendingEmail {
    /* width: 50%; */
    height: 100%;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#afterSubmit {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;

}

/* CONTACT US BUTTON */

.contacts_us-button {
    position: fixed;
    bottom: 27%;
    left: 6%;
    width: 80px;
    height: 50px;
    z-index: 4;
    color: #10617a;
}


.hideElement {
    display: none;
}


.popup {

    -webkit-animation: popup 0.7s;

    animation: popup 0.7s;
}


.contact_us--image {
    cursor: grab;

    &:before {
        
        content: "\f086";
        font-size: 6rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: relative;
        display: block; 
        height: 70px;
        width: 100px;
        text-shadow: 1px 1px 6px black;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
        transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
    }
    

    &.dragging {
        cursor: grabbing;

        &:before {
            
            text-shadow: 2px 5px 5px black;
        }

    }

}

.contact_us--image.rotateToCancel:before {
    /* background:  */
    content: "\f410";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    -webkit-transform: rotate(1080deg);


    transform: rotate(1080deg);
    
    font-size: 6rem;
}


@-webkit-keyframes popup {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
    }

    50% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    60% {
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }

    70% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
    }

    80% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    90% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


@keyframes popup {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
    }

    50% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    60% {
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }

    70% {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
    }

    80% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }

    90% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.wobble {
    -webkit-animation: wobble-hor-top 10s infinite both;
    animation: wobble-hor-top 10s infinite both;
}

@-webkit-keyframes wobble-hor-top {

    89%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    90% {
        -webkit-transform: translateX(-30px) rotate(6deg);
        transform: translateX(-30px) rotate(6deg);
    }

    92% {
        -webkit-transform: translateX(15px) rotate(-6deg);
        transform: translateX(15px) rotate(-6deg);
    }

    94% {
        -webkit-transform: translateX(-15px) rotate(3.6deg);
        transform: translateX(-15px) rotate(3.6deg);
    }

    96% {
        -webkit-transform: translateX(9px) rotate(-2.4deg);
        transform: translateX(9px) rotate(-2.4deg);
    }

    98% {
        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
    }
}

@keyframes wobble-hor-top {

    89%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    90% {
        -webkit-transform: translateX(-30px) rotate(6deg);
        transform: translateX(-30px) rotate(6deg);
    }

    92% {
        -webkit-transform: translateX(15px) rotate(-6deg);
        transform: translateX(15px) rotate(-6deg);
    }

    94% {
        -webkit-transform: translateX(-15px) rotate(3.6deg);
        transform: translateX(-15px) rotate(3.6deg);
    }

    96% {
        -webkit-transform: translateX(9px) rotate(-2.4deg);
        transform: translateX(9px) rotate(-2.4deg);
    }

    98% {
        -webkit-transform: translateX(-6px) rotate(1.2deg);
        transform: translateX(-6px) rotate(1.2deg);
    }
}

@media screen and (min-width: 760px) {

    button {
        padding: 30px 50px;
    }

    .contacts_us {
        width: 60vw;
        height: 60vh;
    }


    .slide-out-blurred-br {
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        -webkit-transform: translate(19vw, 25vh) skew(0deg, 0deg);
        transform: translate(19vw, 25vh) skew(0deg, 0deg);
    }
}

@media screen and (min-width: 1024px) {
    .g-recaptcha {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (min-width: 1440px) { 
    #contact_me--header {
        font-size: $font-size-big + .5rem;
    }
    
    .contacts_us--form>*>p {
        font-size: $font-size-small +.5rem;
    }

    .contacts_us--form>form>input {
        font-size: $font-size-small +.5rem;
    }
    
    label {
        font-size: $font-size-small +.5rem;
    }
    
    .contacts_us--form>form>textarea {
        font-size: $font-size-small + .5rem;
    }
  }

  @media screen and (min-width: 2560px) { 
    #contact_me--header {
        font-size: $font-size-big + 1rem;
    }
    
    .contacts_us--form>*>p {
        font-size: $font-size-small + 1.5rem;
    }

    .contacts_us--form>form>input {
        font-size: $font-size-small + 1.5rem;
    }
    
    label {
        font-size: $font-size-small + 1.5rem;
    }
    
    .contacts_us--form>form>textarea {
        font-size: $font-size-small + 1.5rem;
    }
  }

/* IE MEDIA */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    .contacts_us {
        top: 200px;
        left: 200px;
    }

    .slide-out-blurred-br {
        transform: translate(0, 0) skew(0deg, 0deg);
        transition: all .5s ease;
        will-change: transform;
        top: 16%;
        left: 2%;
    }
}

@media screen and (min-width: 760px) and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .slide-out-blurred-br {
        transform: translate(55%, 30%) skew(0deg, 0deg);
    }
}