@-webkit-keyframes example {
  from {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
  to {-webkit-transform: translateY(58px);transform: translateY(58px);}
}
@keyframes example {
  from {-webkit-transform: translateY(-200px);transform: translateY(-200px);}
  to {-webkit-transform: translateY(58px);transform: translateY(58px);}
}
