.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1000;
  background: dodgerblue;
}

#dropDownNav {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: translateY(-10000px);
  transform: translateY(-10000px);
  width: 60%;
  height: 90%;
  background: rgba(63, 174, 190, 0.22);
  position: fixed;
  z-index: 4;
  right: 0;
  border: 2px solid;
  -o-border-image: linear-gradient(to bottom, #a7cdcc, orange) 1;
  border-image: linear-gradient(to bottom, #a7cdcc, orange) 1;
}

#dropDownNav.move_drop_down_menu {
  -webkit-transform: translateY(58px);
  transform: translateY(58px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#block-shadow {
  position: fixed;
  width: 100%;
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  height: calc(100vh - 60px);
  -webkit-transform: translateY(59px);
  transform: translateY(59px);
  z-index: 4;
  background: rgba(0, 0, 0, 0.686);
}

#block-shadow.show-block {
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 1.5rem;
  color: #585eb3;
  height: 100%;
}

.nav-list > li {
  font-size: 1.5rem;
  background: linear-gradient(#973a3a, #bbda53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* flex: 1; */
}

.nav-list > li.activeted {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  background: linear-gradient(#6fe974, #de4fa1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

select {
  width: 100%;
  font-size: 1.5rem;
  background: linear-gradient(#973a3a, #bbda53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

select option {
  background: rgba(0, 0, 0, 0.3);
  color: #0a0909;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option:not(:checked) {
  background: #a6cccb;
  color: #a17b5a;
}

select option:checked {
  background: #6aa8a6;
  color: #bbda53;
}

a {
  text-decoration-line: none;
  -webkit-text-decoration-line: none;
}

a:link {
  text-decoration: none !important;
}

@media screen and (min-width: 760px) {
  #dropDownNav {
    display: none;
  }
  #block-shadow {
    display: none;
  }
  #dropDownNav.move_drop_down_menu {
    display: none;
  }
  #block-shadow.show-block {
    display: none;
  }
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-list > li {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    text-align: center;
    background: linear-gradient(#973a3a, #bbda53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-right: 1rem;
    font-size: 1rem;
  }
  .nav-list > li:hover {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    background: linear-gradient(#3a4097, #53dacd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: #3a4097;
  }
  select {
    width: 30%;
    margin-right: 1rem;
    font-size: 1rem;
    background: linear-gradient(#973a3a, #bbda53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (min-width: 1440px) {
  .nav-list {
    font-size: 1rem;
  }
  .nav-list > li {
    font-size: 1rem;
  }
  select {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2560px) {
  .nav-list {
    font-size: 3rem;
  }
  .nav-list > li {
    font-size: 3rem;
  }
  select {
    font-size: 3rem;
  }
}

/* IE MEDIA */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #dropDownNav {
    border-image: linear-gradient(to bottom, #a7cdcc, orange) 1;
    background: rgba(63, 174, 190, 0.22);
  }
  .nav-list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .nav-list > li {
    font-size: 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: transparent;
  }
  .nav-list {
    font-size: 1rem;
  }
  .nav-list > li > a {
    color: #972662;
  }
  .nav-list > li:hover {
    background: transparent;
  }
  .nav-list > li:hover a {
    color: #6068d6;
    background: transparent;
  }
  .nav-list > li.activeted {
    background: transparent;
  }
  .nav-list > li.activeted a {
    color: #6fe974;
  }
  select {
    background: transparent;
    color: #bbda53;
    font-size: 1rem;
  }
}

@media screen and (min-width: 760px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nav-list > li {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nav-list {
    font-size: 1rem;
  }
  select {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2560px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nav-list > li {
    font-size: 3rem;
  }
  .nav-list {
    font-size: 3rem;
  }
  select {
    font-size: 3rem;
  }
}

:root {
  --animation-time: 2s;
}

:lang(en) {
  font-family: 'Monoton', sans-serif;
  font-weight: 800;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: cyan;
}

section {
  color: white;
  -ms-grid-column: 2;
  grid-column: 2;
  font-family: 'Monoton';
}

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

span {
  color: white;
  font-size: 4rem;
}

span:nth-child(1) {
  color: #5318af;
  /*   transition: text-shadow 1s ease; */
  text-shadow: 0 0 5px #8a79a5, 0 0 10px #170633, 0 0 15px #5318af, 0 0 20px #5318af, 0 0 30px #5318af, 0 0 40px #5318af, 0 0 55px #5318af, 0 0 75px #5318af;
}

span:nth-child(2) {
  color: #afa718;
  text-shadow: 0 0 5px #86822c, 0 0 10px #c1bd83, 0 0 15px #2e2c07, 0 0 20px #afa718, 0 0 30px #afa718, 0 0 40px #afa718, 0 0 55px #afa718, 0 0 75px #afa718;
}

span:nth-child(3) {
  color: #af5c18;
  text-shadow: 0 0 5px #754219, 0 0 10px #5c3916, 0 0 15px #e3a573, 0 0 20px #af5c18, 0 0 30px #af5c18, 0 0 40px #af5c18, 0 0 55px #af5c18, 0 0 75px #af5c18;
}

span.dark {
  -webkit-transition: text-shadow .5s ease;
  -o-transition: text-shadow .5s ease;
  transition: text-shadow .5s ease;
  text-shadow: 1px 1px 5px black;
}

@-webkit-keyframes flickerFirst {
  0% {
    text-shadow: 0 0 5px #8a79a5, 0 0 10px #170633, 0 0 15px #5318af, 0 0 20px #5318af, 0 0     30px #5318af, 0 0 40px #5318af, 0 0 55px #5318af, 0 0         75px #5318af;
  }
  100% {
    text-shadow: 1px 1px 5px black;
  }
}

@keyframes flickerFirst {
  0% {
    text-shadow: 0 0 5px #8a79a5,0 0 10px #170633, 0 0 15px #5318af, 0 0 20px #5318af, 0 0     30px #5318af, 0 0 40px #5318af, 0 0 55px #5318af, 0 0         75px #5318af;
  }
  100% {
    text-shadow: 1px 1px 5px black;
  }
}

@-webkit-keyframes flickerSecond {
  0% {
    text-shadow: 0 0 5px #86822c, 0 0 10px #c1bd83, 0 0 15px #2e2c07, 0 0 20px #afa718, 0 0 30px #afa718, 0 0 40px #afa718, 0 0 55px #afa718, 0 0 75px #afa718;
  }
  100% {
    text-shadow: 1px 1px 5px black;
  }
}

@keyframes flickerSecond {
  0% {
    text-shadow: 0 0 5px #86822c, 0 0 10px #c1bd83, 0 0 15px #2e2c07, 0 0 20px #afa718, 0 0 30px #afa718, 0 0 40px #afa718, 0 0 55px #afa718, 0 0 75px #afa718;
  }
  100% {
    text-shadow: 1px 1px 5px black;
  }
}

@-webkit-keyframes flickerThird {
  0% {
    text-shadow: 0 0 5px #754219, 0 0 10px #5c3916, 0 0 15px #e3a573, 0 0 20px #af5c18, 0 0 30px #af5c18, 0 0 40px #af5c18, 0 0 55px #af5c18, 0 0 75px #af5c18;
  }
  100% {
    text-shadow: 1px 1px 5px black;
  }
}

@keyframes flickerThird {
  0% {
    text-shadow: 0 0 5px #754219, 0 0 10px #5c3916, 0 0 15px #e3a573, 0 0 20px #af5c18, 0 0 30px #af5c18, 0 0 40px #af5c18, 0 0 55px #af5c18, 0 0 75px #af5c18;
  }
  100% {
    text-shadow: 1px 1px 5px black;
  }
}

#first {
  -webkit-animation: flickerFirst ease alternate infinite;
  animation: flickerFirst  ease alternate infinite;
  -webkit-animation-duration: --animation-time;
  animation-duration: .5s;
}

#second {
  -webkit-animation: flickerSecond  ease alternate infinite;
  animation: flickerSecond  ease alternate infinite;
  -webkit-animation-duration: --animation-time;
  animation-duration: 1s;
}

#third {
  -webkit-animation: flickerThird  ease alternate infinite;
  animation: flickerThird  ease alternate infinite;
  -webkit-animation-duration: --animation-time;
  animation-duration: 2s;
}

body {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px 0;
  background: url("../../oldPortfolio/public/background-noises/header_noise.jpg") bottom center repeat;
  transition: transform .5s ease;
  transform: translateY(-1px);
  box-shadow: -2px -2px 11px 1px black;
}

nav.hide_nav_bar {
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
}

.header_logo {
  width: 50px;
  margin-left: 1rem;
}

/* avatar of me */
.header_image {
  width: 40px;
  height: 40px;
}

.header_image img {
  width: 100%;
  border-radius: 100%;
  height: 40px;
}

.nav_list-big--screen {
  display: none;
  width: 100%;
}

/* gamburger in the header for mobile game */
#gamburger {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 1rem;
}

#gamburger span:after {
  position: absolute;
  content: "";
  height: 4px;
  background: #10617a;
}

.nav_bar--first:after {
  width: 40px;
  top: 25%;
}

.nav_bar--middle:after {
  width: 30px;
  right: 0;
  top: 50%;
}

.nav_bar--last:after {
  width: 20px;
  top: 75%;
  right: 0;
}

@media screen and (min-width: 760px) {
  .header_image {
    display: none;
  }
  .nav-list {
    display: inherit;
  }
  #gamburger {
    display: none;
  }
  nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .header_logo {
    width: 70px;
    margin-left: 10rem;
  }
  .nav_list-big--screen {
    margin-right: 8rem;
  }
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: grid;
  -ms-grid-rows: minmax(100vh, auto) fit-content(20%);
  grid-template-rows: minmax(100vh, auto) fit-content(20%);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@media screen and (min-width: 360px) and (max-width: 760px) {
  div:last-of-type {
    left: 0 !important;
  }
}

.about-me {
  color: #383838;
  font-size: 1.5rem;
  width: 90%;
}

.about-me > h2 {
  text-align: center;
}

.about-me > p {
  margin: 0 1rem;
}

#signature {
  float: right;
  margin-right: 1rem;
}

/* margin: 0 1rem; */
@media screen and (min-width: 760px) {
  .about-me {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) {
  .about-me {
    font-size: 3rem;
  }
}

.images-carousel {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

.images-carousel span {
  position: absolute;
  font-size: 45px;
  font-family: 'East Sea Dokdo', cursive;
  z-index: 3;
}

.arrows {
  width: 50%;
  height: 100%;
  position: relative;
  transition: opacity 1s;
  opacity: 1;
  color: #10617a;
}

.left-arrow {
  left: -15px;
}

.left-arrow::before {
  content: "\f054";
  position: absolute;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  top: 40%;
  left: 10%;
}

.right-arrow {
  right: -15px;
}

.right-arrow::before {
  content: "\f054";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 40%;
  right: 10%;
}

.hideArrow {
  transition: opacity 1s;
  opacity: 0;
}

.carousel-image-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: absolute;
  width: 90%;
  height: fit-content;
  overflow: hidden;
  -webkit-transition: opacity .5s, z-index .5s, width .5s,  -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, width .5s,  -webkit-transform .5s;
  transition: transform .5s,  opacity .5s, z-index .5s, width .5s;
  transition: transform .5s,  opacity .5s, z-index .5s, width .5s,  -webkit-transform .5s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.prev-hidden-image {
  z-index: -2;
  width: 60%;
  -webkit-transform: translateY(3%) translateX(-40%);
  transform: translateY(3%) translateX(-40%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.prev-image {
  z-index: 1;
  width: 80%;
  -webkit-transform: translateY(3%) translateX(-20%);
  transform: translateY(3%) translateX(-20%);
}

.current-image {
  z-index: 2;
  -webkit-transform: translateY(0%) translateX(0%);
  transform: translateY(0%) translateX(0%);
}

.next-image {
  z-index: 1;
  width: 80%;
  -webkit-transform: translateY(3%) translateX(20%);
  transform: translateY(3%) translateX(20%);
}

.next-hidden-image {
  z-index: -2;
  width: 60%;
  -webkit-transform: translateY(3%) translateX(40%);
  transform: translateY(3%) translateX(40%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/*///////////////////////////////////////////////////////////////////////////////////////// */
img {
  width: 100%;
}

/*MEDIA */
@media screen and (min-width: 360px) {
  .images-carousel {
    height: 155px;
  }
  .prev-image {
    -webkit-transform: translateY(5%) translateX(-40%);
    transform: translateY(5%) translateX(-40%);
  }
  .next-image {
    -webkit-transform: translateY(5%) translateX(40%);
    transform: translateY(5%) translateX(40%);
  }
  .prev-hidden-image {
    -webkit-transform: translateY(5%) translateX(-60%);
    transform: translateY(5%) translateX(-60%);
  }
  .next-hidden-image {
    -webkit-transform: translateY(5%) translateX(60%);
    transform: translateY(5%) translateX(60%);
  }
}

@media screen and (min-width: 760px) {
  .images-carousel {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .carousel-image-container {
    -webkit-transition: left 1s, opacity 1s, z-index 1s, width 1s, -webkit-transform 1s;
    transition: left 1s, opacity 1s, z-index 1s, width 1s, -webkit-transform 1s;
    transition: transform 1s, left 1s, opacity 1s, z-index 1s, width 1s;
    transition: transform 1s, left 1s, opacity 1s, z-index 1s, width 1s, -webkit-transform 1s;
  }
  .current-image {
    width: 60%;
  }
  .prev-image {
    width: 50%;
    -webkit-transform: translateY(10%) translateX(-40%);
    transform: translateY(10%) translateX(-40%);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .next-image {
    width: 50%;
    -webkit-transform: translateY(10%) translateX(40%);
    transform: translateY(10%) translateX(40%);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .prev-hidden-image {
    -webkit-transform: translateY(10%) translateX(-60%);
    transform: translateY(10%) translateX(-60%);
    width: 45%;
  }
  .next-hidden-image {
    width: 45%;
    -webkit-transform: translateY(10%) translateX(60%);
    transform: translateY(10%) translateX(60%);
  }
}

@media screen and (min-width: 1024px) {
  .current-image {
    width: 40%;
  }
  .prev-image {
    width: 30%;
    -webkit-transform: translateY(10%) translateX(-80%);
    transform: translateY(10%) translateX(-80%);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .next-image {
    width: 30%;
    -webkit-transform: translateY(10%) translateX(80%);
    transform: translateY(10%) translateX(80%);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .prev-hidden-image {
    -webkit-transform: translateY(40%) translateX(-210%);
    transform: translateY(40%) translateX(-210%);
    width: 20%;
  }
  .next-hidden-image {
    width: 20%;
    -webkit-transform: translateY(40%) translateX(210%);
    transform: translateY(40%) translateX(210%);
  }
}

@media screen and (min-width: 1440px) {
  .current-image {
    width: 30%;
  }
  .prev-image {
    width: 25%;
    -webkit-transform: translateY(10%) translateX(-110%);
    transform: translateY(10%) translateX(-110%);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .next-image {
    width: 25%;
    -webkit-transform: translateY(10%) translateX(110%);
    transform: translateY(10%) translateX(110%);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  .prev-hidden-image {
    -webkit-transform: translateY(25%) translateX(-210%);
    transform: translateY(25%) translateX(-210%);
    width: 20%;
  }
  .next-hidden-image {
    width: 20%;
    -webkit-transform: translateY(25%) translateX(210%);
    transform: translateY(25%) translateX(210%);
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .carousel-image-container {
    transform: translateX(-50%);
  }
  .prev-image {
    transform: translateY(10%) translateX(-160%);
  }
  .next-image {
    transform: translateY(10%) translateX(50%);
  }
  .current-image {
    transform: translateY(0%) translateX(-50%);
  }
  .prev-hidden-image {
    transform: translateY(25%) translateX(-250%);
  }
  .next-hidden-image {
    transform: translateY(25%) translateX(150%);
  }
}

@media screen and (min-width: 1440px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .prev-image {
    transform: translateY(10%) translateX(-160%);
  }
  .next-image {
    transform: translateY(10%) translateX(50%);
  }
  .current-image {
    transform: translateY(0%) translateX(-60%);
  }
  .prev-hidden-image {
    transform: translateY(25%) translateX(-250%);
  }
  .next-hidden-image {
    transform: translateY(25%) translateX(150%);
  }
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* overflow: hidden; */
}

html::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: black;
  background: #d4f0fc;
  z-index: 0;
}

footer {
  display: flex;
}

.section {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

.top_section {
  background: url("../../oldPortfolio/public/background-noises/header_noise.jpg") bottom center repeat;
  min-height: 700px;
  padding-top: 100px;
}

.second_section {
  background: url("../../oldPortfolio/public/background-noises/main-second-noise.jpg") bottom center repeat;
}

.third_section {
  background: url("../../oldPortfolio/public/background-noises/third_background-noise.jpg") bottom center repeat;
}

.section_name {
  font-size: 2rem;
  color: #383838;
}

.block-scroll {
  overflow-y: hidden;
}

.cookies {
  position: fixed;
  display: none;
  width: 100%;
  height: auto;
  bottom: 0;
  background: url("../../oldPortfolio/public/background-noises/header_noise.jpg") bottom center repeat;
  z-index: 1000;
  text-align: center;
  font-size: 1.5rem;
  color: #383838;
  box-shadow: 1px -1px 10px 0px black;
}

#cookiesNotification {
  font-size: 1rem;
}

@media screen and (min-width: 760px) {
  .loading img {
    width: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .section_name {
    font-size: 3rem;
  }
  .cookies {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) {
  .section_name {
    font-size: 3rem;
  }
  .cookies {
    font-size: 3rem;
  }
}

/* INTERNET EXPLORER STYLES */
/* 

                IE COPY PASTE HELP

    @media all and (-ms-high-contrast: none) and (-ms-high-contrast: active) {

 
        }
    
    @media screen and (min-width: 360px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
 
        }
    
    @media screen and (min-width: 1440px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
 
    }
    
    @media screen and (min-width: 2560px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
 
        }

         */

/*# sourceMappingURL=aboweFold.css.map */