/* english import */
@import url("https://fonts.googleapis.com/css?family=Timmana");
/* russian import */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
/* greek import */
@import url("https://fonts.googleapis.com/css?family=Alegreya+SC|Playfair+Display+SC");
:lang(gr) {
  font-family: 'Alegreya SC', serif;
}

:lang(ru) {
  font-family: 'Playfair Display SC', serif;
}

:lang(en) {
  font-family: 'Timmana', sans-serif;
}

footer {
  display: none;
  flex-direction: column;
  align-items: center;
  height: auto;
  background: url("../../public/background-noises/footer-noise.png") bottom center repeat;
}

footer > * h2 {
  font-family: 'Timmana', sans-serif;
  color: white;
  font-size: 2rem;
}

footer > * > p {
  font-family: 'Timmana', sans-serif;
  color: white;
  font-size: 1.5rem;
}

.contacts {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.my_contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.my_contacts > a {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  border-radius: 50%;
  background: #ffffff;
  width: 40px;
  height: 40px;
}

.my_contacts .icon {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  color: #3b3b3b;
  font-size: 1.8rem;
}

/* MEDIA */
@media screen and (min-width: 360px) {
  footer > * h2 {
    font-family: 'Timmana', sans-serif;
    color: white;
  }
}

@media screen and (min-width: 1440px) {
  footer > * h2 {
    font-size: 3rem;
  }
  footer > * > p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) {
  footer > * h2 {
    font-size: 3rem;
  }
  footer > * > p {
    font-size: 3rem;
  }
}

/* IE MEDIA */
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 4px 0px black;
}

.skills_name {
  width: 70%;
  height: 100%;
  background: #bdaa3d;
  font-size: 1.5rem;
  color: #383838;
}

.skills_state {
  width: 30%;
  height: 100%;
  background: #bd4a3d;
  font-size: 1.5rem;
}

h1 {
  margin-top: 80px;
  margin-top: 80px;
  margin-top: 5rem;
  font-family: 'Timmana', sans-serif;
}

ul {
  list-style-type: none;
  width: 90%;
  padding: 0;
}

li img {
  display: none;
}

li h3 {
  font-size: 1.5rem;
  color: #b34538;
}

li p {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #383838;
}

.skills > * > p {
  text-align: center;
}

.skills > * > p > img {
  width: 15px;
  height: 14px;
}

.skills > * > p > img:nth-child(1) {
  -webkit-animation: startsBreath 5s infinite alternate;
  animation: startsBreath 5s infinite alternate;
}

.skills > * > p > img:nth-child(2) {
  -webkit-animation: startsBreath 5s 1s infinite alternate;
  animation: startsBreath 5s 1s infinite alternate;
}

.skills > * > p > img:nth-child(3) {
  -webkit-animation: startsBreath 5s 2s infinite alternate;
  animation: startsBreath 5s 2s infinite alternate;
}

.skills > * > p > img:nth-child(4) {
  -webkit-animation: startsBreath 5s 3s infinite alternate;
  animation: startsBreath 5s 3s infinite alternate;
}

.skills > * > p > img:nth-child(5) {
  -webkit-animation: startsBreath 5s 4s infinite alternate;
  animation: startsBreath 5s 4s infinite alternate;
}

@-webkit-keyframes startsBreath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
}

@keyframes startsBreath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
}

@media screen and (min-width: 760px) {
  li:nth-child(odd) img {
    display: block;
    width: 30%;
    float: left;
    margin-right: 1rem;
  }
  li:nth-child(even) img {
    display: block;
    width: 30%;
    float: right;
  }
  li p {
    margin-left: 0;
  }
  .skills {
    width: 90%;
  }
  .skills > * > p > img {
    width: 45px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .skills_name {
    font-size: 2rem;
  }
  .skills_state {
    font-size: 2rem;
  }
  li h3 {
    font-size: 2rem;
  }
  li p {
    font-size: 2rem;
  }
  .skills > * > p > img {
    width: 65px;
    height: 24px;
  }
}

@media screen and (min-width: 2560px) {
  .skills_name {
    font-size: 3rem;
  }
  .skills_state {
    font-size: 3rem;
  }
  li h3 {
    font-size: 3rem;
  }
  li p {
    font-size: 3rem;
  }
  .skills > * > p > img {
    width: 100px;
    height: 58px;
  }
}

/* IE MEDIA */
@media all and (-ms-high-contrast: none) and (-ms-high-contrast: active) {
  li h3 {
    font-size: 1rem;
  }
  li p {
    font-size: 1rem;
  }
  .skills_name {
    font-size: 1rem;
  }
  .skills_state {
    font-size: 1rem;
  }
}

@media screen and (min-width: 360px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  li h3 {
    font-size: 1.5rem;
  }
  li p {
    font-size: 1.5rem;
  }
  .skills_name {
    font-size: 1.5rem;
  }
  .skills_state {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  li h3 {
    font-size: 2rem;
  }
  li p {
    font-size: 2rem;
  }
  .skills_name {
    font-size: 2rem;
  }
  .skills_state {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  li h3 {
    font-size: 3rem;
  }
  li p {
    font-size: 3rem;
  }
  .skills_name {
    font-size: 3rem;
  }
  .skills_state {
    font-size: 3rem;
  }
}

#projects {
  width: 100%;
}

#projects > h1 {
  text-align: center;
}

.project_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 4px 0px black;
}

.project_image {
  /* position: relative; */
  width: 100%;
  height: 200px;
}

.project_image > img {
  /* position: absolute;  */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.project_name {
  text-align: center;
  font-family: 'Timmana', sans-serif;
  font-size: 2rem;
  color: #383838;
}

.project_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background: #ffffff;
  font-family: 'Timmana', sans-serif;
  font-size: 1.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project_info > p {
  margin: 0 16px;
  margin: 0 16px;
  margin: 0 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 20px;
}

.project_info > p::-webkit-scrollbar {
  display: none;
}

.project_info a {
  float: right;
  margin-right: 16px;
  margin-right: 16px;
  margin-right: 1rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
  color: #106179;
}

.project_info > div {
  position: relative;
  background: #f7f7f7;
}

.project_info > div:before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, #f6f6f6, #ffffff21);
  top: -29px;
  width: 100%;
  height: 30px;
}

.project_info a:hover {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: #281079;
}

@media screen and (min-width: 760px) {
  .project_info {
    height: 300px;
  }
  #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .project_card {
    max-width: 40%;
    margin: 1rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .project_info {
    height: 400px;
  }
  #projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .project_card {
    max-width: 40%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .project_image {
    height: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .project_name {
    font-size: 3rem;
  }
  .project_info {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) {
  .project_name {
    font-size: 3rem;
  }
  .project_image {
    height: 650px;
  }
  .project_info {
    font-size: 3rem;
  }
}

/* IE MEDIA */
@media all and (-ms-high-contrast: none) and (-ms-high-contrast: active) {
  .project_name {
    font-size: 1rem;
  }
  .project_info {
    font-size: 1rem;
  }
}

@media screen and (min-width: 360px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .project_name {
    font-size: 1.5rem;
  }
  .project_info {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .project_name {
    font-size: 2rem;
  }
  .project_info {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .project_name {
    font-size: 3rem;
  }
  .project_info {
    font-size: 3rem;
  }
}

.contacts_us {
  position: fixed;
  width: 90vw;
  height: 75vh;
  padding: 10px;
  background: #ffffff;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(1000px, 1000px) skew(80deg, 10deg);
  transform: translate(1000px, 1000px) skew(80deg, 10deg);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.slide-out-blurred-br {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  transform: translate(0, 80px) skew(0deg, 0deg);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.contacts_us--form {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts_us--form::-webkit-scrollbar {
  display: none;
}

#contact_me--header {
  font-family: 'Timmana', sans-serif;
  color: #383838;
  font-size: 1.5rem;
}

.contacts_us--form > * > p {
  font-family: 'Timmana', sans-serif;
  color: #383838;
  font-size: 1rem;
}

.contacts_us--form > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background: url("../../public/background-noises/main-second-noise.png") bottom center repeat;
  flex: 0 0 auto;
}

.contacts_us--form > form > input {
  width: 80%;
  height: 40px;
  margin: 0 0 16px 0;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: 'Timmana', sans-serif;
  outline: none;
}

label {
  width: 80%;
  font-size: 1.5rem;
  font-family: 'Timmana', sans-serif;
  color: #383838;
}

.contacts_us--form > form > textarea {
  width: 80%;
  margin: 16px 0;
  margin: 16px 0;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: 'Timmana', sans-serif;
  outline: none;
}

input:invalid.touched {
  -webkit-transition: -webkit-box-shadow 1s ease;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
  box-shadow: 1px 1px 7px 5px #9c2fa5;
}

input:valid {
  -webkit-transition: -webkit-box-shadow .5s ease;
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  box-shadow: 1px 1px 7px 5px #2f93a5;
}

textarea:invalid.touched {
  -webkit-transition: -webkit-box-shadow .5s ease;
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  box-shadow: 1px 1px 7px 5px #9c2fa5;
}

textarea:valid {
  -webkit-transition: -webkit-box-shadow .5s ease;
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  box-shadow: 1px 1px 7px 5px #2f93a5;
}

textarea:required:not(:valid) {
  box-shadow: none;
}

input:required:not(.touched) {
  box-shadow: none;
}

.g-recaptcha {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

button {
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: inset 0px -1px 2px 0px #c5b34a;
  background-color: #bdaa3d;
  background: linear-gradient(to bottom, #bdaa3d 5%, #96862f 100%);
  border-radius: 6px;
  border: 1px solid #8a7c31;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #96862f;
  outline: none;
}

button.afterSubmitButton {
  display: none;
  padding: 16px 24px;
}

button:hover {
  background-color: #50bd3d;
  background: linear-gradient(to bottom, #96862f 5%, #bdaa3d 100%);
}

button:active {
  position: relative;
  top: 1px;
}

#error {
  display: none;
  color: #9c2fa5;
}

.sendingEmail {
  /* width: 50%; */
  height: 100%;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#afterSubmit {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

/* CONTACT US BUTTON */
.contacts_us-button {
  position: fixed;
  bottom: 27%;
  left: 6%;
  width: 80px;
  height: 50px;
  z-index: 4;
  color: #10617a;
}

.hideElement {
  display: none;
}

.popup {
  -webkit-animation: popup 0.7s;
  animation: popup 0.7s;
}

.contact_us--image {
  cursor: grab;
}

.contact_us--image:before {
  content: "\f086";
  font-size: 6rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  display: block;
  height: 70px;
  width: 100px;
  text-shadow: 1px 1px 6px black;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.contact_us--image.dragging {
  cursor: grabbing;
}

.contact_us--image.dragging:before {
  text-shadow: 2px 5px 5px black;
}

.contact_us--image.rotateToCancel:before {
  /* background:  */
  content: "\f410";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  -webkit-transform: rotate(1080deg);
  transform: rotate(1080deg);
  font-size: 6rem;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  60% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  70% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  80% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  90% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  60% {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  70% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  80% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  90% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble {
  -webkit-animation: wobble-hor-top 10s infinite both;
  animation: wobble-hor-top 10s infinite both;
}

@-webkit-keyframes wobble-hor-top {
  89%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  90% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  92% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  94% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  96% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  98% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-hor-top {
  89%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  90% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  92% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  94% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  96% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  98% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@media screen and (min-width: 760px) {
  button {
    padding: 30px 50px;
  }
  .contacts_us {
    width: 60vw;
    height: 60vh;
  }
  .slide-out-blurred-br {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translate(19vw, 25vh) skew(0deg, 0deg);
    transform: translate(19vw, 25vh) skew(0deg, 0deg);
  }
}

@media screen and (min-width: 1024px) {
  .g-recaptcha {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (min-width: 1440px) {
  #contact_me--header {
    font-size: 2.5rem;
  }
  .contacts_us--form > * > p {
    font-size: 2rem;
  }
  .contacts_us--form > form > input {
    font-size: 2rem;
  }
  label {
    font-size: 2rem;
  }
  .contacts_us--form > form > textarea {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px) {
  #contact_me--header {
    font-size: 3rem;
  }
  .contacts_us--form > * > p {
    font-size: 3rem;
  }
  .contacts_us--form > form > input {
    font-size: 3rem;
  }
  label {
    font-size: 3rem;
  }
  .contacts_us--form > form > textarea {
    font-size: 3rem;
  }
}

/* IE MEDIA */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .contacts_us {
    top: 200px;
    left: 200px;
  }
  .slide-out-blurred-br {
    transform: translate(0, 0) skew(0deg, 0deg);
    transition: all .5s ease;
    will-change: transform;
    top: 16%;
    left: 2%;
  }
}

@media screen and (min-width: 760px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .slide-out-blurred-br {
    transform: translate(55%, 30%) skew(0deg, 0deg);
  }
}

/*# sourceMappingURL=restStyles.css.map */