
.images-carousel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.images-carousel span {
    position: absolute;
    color: chartreuse;
    font-size: 45px;
    font-family: 'East Sea Dokdo', cursive;
    z-index: 3;
}

.arrows {
    width: 60%;
    height: 100%;
}

.left-arrow {
    left: -15px;
}

.right-arrow {
    right: -15px;
}

.carousel-image-container{
    flex: 0 0 auto;
    position: absolute;
    width: 90%;
    /* height: 100%; */
    overflow: hidden;
    -webkit-transition:  opacity .5s, z-index .5s, width .5s, -webkit-transform .5s;
    transition:  opacity .5s, z-index .5s, width .5s, -webkit-transform .5s;
    -o-transition: transform .5s,  opacity .5s, z-index .5s, width .5s;
    transition: transform .5s,  opacity .5s, z-index .5s, width .5s;
    transition: transform .5s,  opacity .5s, z-index .5s, width .5s, -webkit-transform .5s;
    opacity: 1
}

.prev-hidden-image {
    z-index: -2;
    width: 60%;
    -webkit-transform: translateY(3%) translateX(-40%);
        -ms-transform: translateY(3%) translateX(-40%);
            transform: translateY(3%) translateX(-40%);
    opacity: 0;
}


.prev-image{
    z-index: -1;
    width: 80%;
    -webkit-transform: translateY(3%) translateX(-20%);
        -ms-transform: translateY(3%) translateX(-20%);
            transform: translateY(3%) translateX(-20%);
}

.current-image{
    z-index: 2;
    -webkit-transform:translateY(0%)  translateX(0%);
        -ms-transform:translateY(0%)  translateX(0%);
            transform:translateY(0%)  translateX(0%);
}

.next-image{
    z-index: -1;
    width: 80%;
    -webkit-transform: translateY(3%) translateX(20%);
        -ms-transform: translateY(3%) translateX(20%);
            transform: translateY(3%) translateX(20%);
}

.next-hidden-image {
    z-index: -2;
    width: 60%;
    -webkit-transform: translateY(3%) translateX(40%);
        -ms-transform: translateY(3%) translateX(40%);
            transform: translateY(3%) translateX(40%);
    opacity: 0;
}

/*///////////////////////////////////////////////////////////////////////////////////////// */

img {
    width: 100%;
}




       /*MEDIA */

@media screen and (min-width: 360px) { 
    .images-carousel {
        height: 155px;
    }

    .prev-image {
        transform: translateY(5%) translateX(-40%);
    }
    .next-image{
        transform: translateY(5%) translateX(40%);
    }

    .prev-hidden-image {
        transform: translateY(5%) translateX(-60%);
    }

    .next-hidden-image {
        transform: translateY(5%) translateX(60%);
    }

 }

 @media screen and (min-width: 760px) { 

    .carousel-image-container{
        -webkit-transition: left 1s, opacity 1s, z-index 1s, width 1s, -webkit-transform 1s;
        transition: left 1s, opacity 1s, z-index 1s, width 1s, -webkit-transform 1s;
        -o-transition: transform 1s, left 1s, opacity 1s, z-index 1s, width 1s;
        transition: transform 1s, left 1s, opacity 1s, z-index 1s, width 1s;
        transition: transform 1s, left 1s, opacity 1s, z-index 1s, width 1s, -webkit-transform 1s;
    }

    .current-image {
        width: 60%;
    }

    .prev-image {
        width: 50%;
        -webkit-transform: translateY(10%) translateX(-40%);
            -ms-transform: translateY(10%) translateX(-40%);
                transform: translateY(10%) translateX(-40%);
        opacity: .5;
    }
    .next-image{
        width: 50%;
        -webkit-transform: translateY(10%) translateX(40%);
            -ms-transform: translateY(10%) translateX(40%);
                transform: translateY(10%) translateX(40%);
        opacity: .5;
    }

    .prev-hidden-image {
        -webkit-transform: translateY(10%) translateX(-60%);
            -ms-transform: translateY(10%) translateX(-60%);
                transform: translateY(10%) translateX(-60%);
        width: 45%;
    }

    .next-hidden-image {
        width: 45%;
        -webkit-transform: translateY(10%) translateX(60%);
            -ms-transform: translateY(10%) translateX(60%);
                transform: translateY(10%) translateX(60%);
    }
 }


 @media screen and (min-width: 1024px) { 
    .current-image {
        width: 40%;
    }

    .prev-image {
        width: 30%;
        -webkit-transform: translateY(10%) translateX(-80%);
            -ms-transform: translateY(10%) translateX(-80%);
                transform: translateY(10%) translateX(-80%);
        opacity: .5;
    }
    .next-image{
        width: 30%;
        -webkit-transform: translateY(10%) translateX(80%);
            -ms-transform: translateY(10%) translateX(80%);
                transform: translateY(10%) translateX(80%);
        opacity: .5;
    }

    .prev-hidden-image {
        -webkit-transform: translateY(40%) translateX(-210%);
            -ms-transform: translateY(40%) translateX(-210%);
                transform: translateY(40%) translateX(-210%);
        width: 20%;
    }

    .next-hidden-image {
        width: 20%;
        -webkit-transform: translateY(40%) translateX(210%);
            -ms-transform: translateY(40%) translateX(210%);
                transform: translateY(40%) translateX(210%);
    }
 }


 @media screen and (min-width: 1440px) { 
        .current-image {
        width: 30%;
    }

    .prev-image {
        width: 25%;
        -webkit-transform: translateY(10%) translateX(-110%);
            -ms-transform: translateY(10%) translateX(-110%);
                transform: translateY(10%) translateX(-110%);
        opacity: .5;
    }
    .next-image{
        width: 25%;
        -webkit-transform: translateY(10%) translateX(110%);
            -ms-transform: translateY(10%) translateX(110%);
                transform: translateY(10%) translateX(110%);
        opacity: .5;
    }

    .prev-hidden-image {
        -webkit-transform: translateY(25%) translateX(-210%);
            -ms-transform: translateY(25%) translateX(-210%);
                transform: translateY(25%) translateX(-210%);
        width: 20%;
    }

    .next-hidden-image {
        width: 20%;
        -webkit-transform: translateY(25%) translateX(210%);
            -ms-transform: translateY(25%) translateX(210%);
                transform: translateY(25%) translateX(210%);
    }
 }

 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .carousel-image-container {
        transform: translateX(-50%);
    }

    .prev-image {
        transform: translateY(10%) translateX(-160%);
}
.next-image{
        transform: translateY(10%) translateX(50%);
}

.current-image{
        transform:translateY(0%)  translateX(-50%);
}

.prev-hidden-image {
        transform: translateY(25%) translateX(-250%);
}

.next-hidden-image {
        transform: translateY(25%) translateX(150%);
}
 }

 @media screen and (min-width: 1440px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     
    .prev-image {
                transform: translateY(10%) translateX(-160%);
    }
    .next-image{
                transform: translateY(10%) translateX(50%);
    }

    .current-image{
                transform:translateY(0%)  translateX(-60%);
    }

    .prev-hidden-image {
                transform: translateY(25%) translateX(-250%);
    }

    .next-hidden-image {
                transform: translateY(25%) translateX(150%);
    }
 }