@import "../_mixins.scss";
// @import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap');

.checking {
    display: flex;
    font: outline;
}

.exclusive {
    @include flexRow;

    justify-content: unset;
    width: 100%;
    height: 400px;
    background: #e1e5e9;
    font-family: 'Lato', sans-serif;
}

.exclusive_image {
    width: 50%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.exclusive_info {
    @include flexCol;

    width: 50%;
    
    h2 {
        font-size: 1.882rem;
        color: #1289d5;
        font-family: "Lato";
        font-weight: 700;
        text-align: center;
    }
}

.exclusive_info-paragrapth {
    width: 65%;
    font-size: 0.9412rem;
    line-height: 24px;
    color: #777777;
    font-family: "Merriweather";
    text-align: center;
}

.exclusive_restriction--paragraph {
    font-size: 0.7647rem;
    line-height: 24px;
    color: #939292;
    font-family: "Merriweather";
    text-align: center;
}

.newsletter {
    @include flexCol;
    margin-top: 3rem;
    font-family: 'Lato', sans-serif;

    h2 {
        text-align: center;

        font-size: 1.765rem;
        line-height: 19px;
        color: #1289d5;
        font-family: "Lato";
        font-weight: 600;
    }

    p {
        font-size: 0.9412rem;
        line-height: 19px;
        color: #999999;
        font-family: "Merriweather";
        text-align: center;
    }
}

#newsletter_form {
    display: inherit;
    width: 40%;
    button {
        width: 40%;
        border: 3px solid #f8f7f7;
        border-left: none;
        border-radius: 0 10px 10px 0;
    }
}

#email_input {
    width: 50%;

    padding-left: 2rem;
    border: none;
    border:solid 3px #f8f7f7;
    border-radius: 10px 0 0 10px;
    border-right: none;
    margin-right: 0;

    font-size: 0.8235rem;
    letter-spacing: 1px;
    line-height: 19px;
    color: #b1b1b1;
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
}


@media screen and (max-width: 900px) { 
    .exclusive {
        flex-direction: column;
        height: auto;
    }

    .exclusive_info {

        p {
            width: 100%;
        }

        button {
            margin-bottom: 1rem;
        }
    }
    #newsletter_form {
        width: 100%;
    }
}

@media screen and (max-width: 576px) { 

    .exclusive_image {
        width: 100%;
    }

    .exclusive_info {
        width: 100%;
    }


    .newsletter h2 {
        line-height: 30px;
    }
    
}