@import "./headerSections/dropDownList.css";

body {
    margin: 0;
}

nav {
    display: none;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        -ms-flex-line-pack: center;
            align-content: center;
    padding: 10px 0;
    background: #5318af;
    background-size: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
            -webkit-transform: translateY(-1px);
                -ms-transform: translateY(-1px);
                    transform: translateY(-1px);
}

/* #nav2 {
    display: none;
    background: 
} */

nav.hide_nav_bar {
            -webkit-transform: translateY(-200px);
                -ms-transform: translateY(-200px);
                    transform: translateY(-200px)
}

.header_logo {
    width: 74px;
    height: 40px;
    margin-left: 1rem;
}

/* avatar of me */

.header_image {
    width: 40px;
    height: 40px;
}

.header_image img {
    width: 100%;
    border-radius: 100%;
    height: 40px;
}

.nav_list-big--screen {
    display: none;
    width: 100%;
}

/* gamburger in the header for mobile game */

#gamburger {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 1rem;
}

#gamburger span:after {
    position: absolute;
    content: "";
    
    height: 4px;
    background: #e4d72b;
}

.nav_bar--first:after {
    width: 40px;
    top: 25%;
}
.nav_bar--middle:after {
    width: 30px;
    right: 0;
    top: 50%;
}
.nav_bar--last:after {
    width: 20px;
    top: 75%;
    right: 0;
}


@media screen and (min-width: 760px) { 

    .header_image {
        display: none;
    }

    .nav-list {
        display: inherit;
    }

    #gamburger {
        display: none;
    }


nav {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
}

  }

  @media screen and (min-width: 760px) { 

    .header_logo {
        width: 115px;
        height: 70px;
    }
    
      }

  @media screen and (min-width: 1024px) { 

    .header_logo {
        margin-left: 10rem;
    }

    .nav_list-big--screen {
        margin-right: 8rem;
    }


    .header_logo {
        width: 165px;
        height: 70px;
    }
    
      }