@import "./footer.css";

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    /* display: -ms-grid; */
    display: grid;
    -ms-grid-rows: minmax(100vh, auto) fit-content(20%);
    grid-template-rows: minmax(100vh, auto) fit-content(20%);
    background: rgb(20,1,28);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(20,1,28,1)), color-stop(42%, rgba(31,31,85,1)), color-stop(78%, #090979), to(rgba(20,42,65,1)));
    background: -webkit-linear-gradient(top, rgba(20,1,28,1) 0%, rgba(31,31,85,1) 42%, #090979 78%, rgba(20,42,65,1) 100%);
    background: -o-linear-gradient(top, rgba(20,1,28,1) 0%, rgba(31,31,85,1) 42%, #090979 78%, rgba(20,42,65,1) 100%);
    background: linear-gradient(180deg, rgba(20,1,28,1) 0%, rgba(31,31,85,1) 42%, #090979 78%, rgba(20,42,65,1) 100%);
    /* overflow-y: hidden; */
}

nav {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
   }