@import url('https://fonts.googleapis.com/css?family=Timmana');
@import "../variables/fonts.css";

#projects {
    width: 100%;
}

#projects > h1 {
    text-align: center;
}

.project_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
}

.project_image {
    /* position: relative; */
    width: 100%;
    height: 200px;
}

.project_image > img {
    /* position: absolute;  */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
}



.project_name {
    text-align: center;
    font-family: 'Timmana', sans-serif;
    font-size: var(--font-size-big);
    color: black;
}

.project_info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 200px;
    background: ghostwhite;
    font-family: 'Timmana', sans-serif;
    font-size: var(--font-size-small);
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

.project_info > p {
    margin: 0 1rem;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.project_info > p::-webkit-scrollbar { 
    display: none;
}

.project_info a {
    float: right;
    margin-right: 1rem;
    -webkit-text-decoration: none;
            text-decoration: none;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    color: blueviolet;
}
.project_info > div {
    position: relative;
}
.project_info > div::before {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(#f6f6f6), to(#ffffff21));
    background: -webkit-linear-gradient(bottom, #f6f6f6, #ffffff21);
    background: -o-linear-gradient(bottom, #f6f6f6, #ffffff21);
    background: linear-gradient(to top, #f6f6f6, #ffffff21);
    top: -29px;
    width: 100%;
    height: 30px;
}

.project_info a:hover {
    -webkit-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    color: rgb(226, 43, 43);
}

@media screen and (min-width: 760px) { 
    .project_info {
        height: 300px;
    }

    #projects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .project_card {
        max-width: 40%;
        margin: 1rem;
    }
  }

@media screen and (min-width: 1024px) { 
    .project_info {
        height: 400px;
    }
    #projects {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .project_card {
        max-width: 40%;
        margin: 1rem;
    }

 }

 @media screen and (min-width: 1024px) { 
    .project_image {
        height: 350px;
    }
  }

  @media screen and (min-width: 2560px) { 
    .project_image {
        height: 650px;
    }

    .project_info {
        height: 1000px;
    }
  }